{% extends "index.html" %}

{% block title %}
    {{ page.title }} | {{ config.extra.site_name }}
{% endblock title %}

{% block content %}
<div class="title-block">
    <h1> {{ page.title }} </h1>
    {% if page.description %} <i> {{ page.description }} </i> <br> {% endif %}
    {% if page.date %} <i> {{ page.date }} </i> <br> {% endif %}
    {% if page.extra.block %} <i> {{ page.extra.block }} </i> <br> {% endif %}
</div>
{{ page.content | safe }}
{% endblock content %}
