{% extends "index.html" %}

{% block title %}
    {{ section.title }} | {{ config.extra.site_name }}
{% endblock title %}

{% block content %}
<div class="title-block">
    <h1> {{ section.title }} </h1>
    {% if section.description %} <i> {{ section.description }} </i> <br> {% endif %}
</div>
{{ section.content | safe }}
<ul>
    {% for page in section.pages | sort(attribute="date") | reverse %}
    <li><a href="{{ page.permalink }}">{{ page.date }} &#8728; {{ page.title }} {% if page.description %} <i> <br> {{ page.description }} {% endif %} </i></a>  </li>
    {% endfor %}
</ul>
{% endblock content %}
