{% extends "section.html" %}

{% block content %}
<div class="title-block">
    <h1> {{ section.title }} </h1>
    {% if section.description %} <i> {{ section.description }} </i> <br> {% endif %}
</div>
{{ section.extra.content_lectures | markdown() | safe }}
<ul>
        {% for page in section.pages | filter(attribute="extra.type", value="lecture") | sort(attribute="date") | reverse %}
        <li><a href="{{ page.permalink }}">{{ page.title }} {% if page.description %} <i> <br> {{ page.description }} {% endif %} </i></a>  </li>
        {% endfor %}
</ul>
{{ section.extra.content_links | markdown() | safe }}

{{ section.extra.content_books | markdown() | safe }}
<ul>
        {% for page in section.pages | filter(attribute="extra.type", value="book") | sort(attribute="title") %}
        <li><a href="{{ page.permalink }}">{{ page.title }} {% if page.description %} <i> <br> {{ page.description }} {% endif %} </i></a>  </li>
        {% endfor %}
</ul>
{% endblock content %}
